:root {
    --background-color-light: #2c2c2c; /* Fond sombre par défaut */
    --text-color-light: #f4f7f6; /* Texte clair par défaut */
    --button-bg-light: #555;
    --button-text-light: #f4f7f6;
    --button-hover-light: #666;
    --border-color-light: #444;
}

[data-theme='light'] { /* Nouveau thème clair */
    --background-color-dark: #f4f7f6;
    --text-color-dark: #333;
    --button-bg-dark: #e0e0e0;
    --button-text-dark: #333;
    --button-hover-dark: #d0d0d0;
    --border-color-dark: #ccc;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme='light'] body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

#theme-toggle {
    background-color: var(--button-bg-light);
    color: var(--button-text-light);
    border: 1px solid var(--border-color-light);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#theme-toggle:hover {
    background-color: var(--button-hover-light);
}

[data-theme='light'] #theme-toggle {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
    border-color: var(--border-color-dark);
}

[data-theme='light'] #theme-toggle:hover {
    background-color: var(--button-hover-dark);
}

#theme-toggle .icon-light,
#theme-toggle .icon-dark {
    display: none; /* Masquer les deux par défaut */
}

/* En mode sombre (par défaut), afficher l'icône de la lune */
#theme-toggle.dark-mode .icon-dark {
    display: inline-block;
}

/* En mode clair, afficher l'icône du soleil */
#theme-toggle.light-mode .icon-light {
    display: inline-block;
}
